## Print first Natural Numbers

In [1]:
def natural_n(n):
    if n>0:
        natural_n(n-1)
        print(n)

In [2]:
natural_n(5)

## Print Sum of first Natural Numbers

In [3]:
def print_sum(n):
    if n==1:
        return 1
    r=n+print_sum(n-1)
    return r

In [4]:
print_sum(4)

## Reverse Numbers

In [5]:
def reverse_n(n):
    if n>0:
        print(n)
        reverse_n(n-1)

In [6]:
reverse_n(5)

## Print 1st odd number

In [7]:

def odd_num(n):
    if n>0:
        if n%2!=0:
            odd_num(n-1)
#             print(n)
        else:
            n=n-1
            odd_num(n-1)
        print(n)

In [8]:
odd_num(12)

In [9]:
def odd_n(n):
    if n>0:
        odd_n(n-1)
        print(2*n-1)

In [10]:
odd_n(4)

## First N even Numbers

In [11]:
def even_n(n):
    if n>0:
        even_n(n-1)
        print(2*n)

In [12]:
even_n(4)

## Reverse Even

In [13]:
def reverse_even(n):
    if n>0:
        print(2*n)
        reverse_even(n-1)

In [14]:
reverse_even(4)

## Print Nth Fibonacci Number

In [15]:
def fib_n(n):
    if n==1 or n==0:
        return n
    r=fib_n(n-1)+fib_n(n-2)
    return r

In [16]:
fib_n(6)

## sum of first odd natural num

In [17]:

def sum_of_odd(n):
    if n==1:
        return 1
    s=2*n-1+sum_of_odd(n-1)
    return s

In [18]:
sum_of_odd(6)

## Multiplication

In [19]:
def mul_n(a,b):
    if b==1:
        return a
    else:
        return a+mul_n(a,b-1)

In [20]:
mul_n(5,5)

In [21]:
def nat_n(n):
    if n<1:
        return False
    if n==1:
        print(n)
    else:
        nat_n(n-1)
        print(n)

In [22]:
nat_n(5)

## Practice

In [23]:
## print first n natural number

In [24]:
def first_n(n):
    if n==0:
        return
    first_n(n-1)
    print(n)

In [25]:
first_n(5)

In [26]:
def first_reverse_n(n):
    if n==0:
        return
    print(n)
    first_reverse_n(n-1)

In [27]:
first_reverse_n(5)

In [28]:
def first_n_odd(n):
    if n==0:
        return
    first_n_odd(n-1)
    print(2*n-1)

In [29]:
first_n_odd(5)

In [30]:
def first_n_even(n):
    if n>0:
        first_n_even(n-1)
        print(2*n)

In [31]:
first_n_even(5)

In [32]:
def first_odd_reverse(n):
    if n>0:
        print(2*n-1)
        first_odd_reverse(n-1)

In [33]:
first_odd_reverse(5)

In [34]:
def first_even_reverse(n):
    if n>0:
        print(2*n)
        first_even_reverse(n-1)

In [35]:
first_even_reverse(5)

In [36]:
## sum of n natural number

In [37]:
def sum_first_n(n):
    if n==1:
        return 1
    res=n+sum_first_n(n-1)
    return res

In [38]:
sum_first_n(4)

In [39]:
def sum_of_first_n_odd(n):
    if n==1:
        return 1
    res=2*n-1+sum_of_first_n_odd(n-1)
    return res

In [40]:
sum_of_first_n_odd(6)

## Reverse Array

In [41]:
def reverese_arr(arr,i=0):
    n=len(arr)
    if i>=n//2:
        return
    arr[i],arr[n-i-1]=arr[n-i-1],arr[i]
    reverese_arr(arr,i+1)
    return arr

In [42]:
reverese_arr([1,2,3,4,5])

## Pallindrome

In [43]:
def pallindrome(s1:str,i=0):
    n=len(s1)
    if i>=n-i-1:
        return True
    if s1[i]!=s1[n-i-1]:
        return False
    return pallindrome(s1,i+1)

In [44]:
pallindrome('madaam',0)