In [1]:
import pandas as pd
import numpy as np

C:\Users\sanga\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:61: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
def reverse_string(s):
    new_s=''
    for char in s:
        new_s=char+new_s
    return new_s

In [3]:
reverse_string('hello')

'olleh'

## find longest continuos  subarray

In [8]:
[1,7,1,2,3]

[1, 7, 1, 2, 3]

In [9]:
def long_cont_arr(arr:list):
    res=0
    anchor=0
    for i in range(len(arr)):
        if i>0 and arr[i]<arr[i-1]:
            anchor=i
        res=max(res,i-anchor+1)
    return res

In [13]:
long_cont_arr([1,7,13,14,1,2,3,4,5,4,3,2,1])

5

In [1]:
def long_cont_arr(arr:list):
    res=0
    anchor=0
    for i in range(1,len(arr)):
        if arr[i]<=arr[i-1]:
            anchor=i
        res=max(res,i-anchor+1)
    return res

In [2]:
long_cont_arr([1,7,13,14,1,2,3,4,5,4,3,2,1])

5

In [15]:
[2,-3,4,5]

[2, -3, 4, 5]

## find largest sum subarray

In [16]:
def largest_sum_arr(arr:list):
    max_sum=0
    curr_sum=0
    for num in arr:
        curr_sum=max(num,num+curr_sum)
        max_sum=max(max_sum,curr_sum)
    return max_sum

In [19]:
largest_sum_arr([2,-3,4,5,-1,7])

15

## valid parenthesis

In [ ]:
[[()]]

In [30]:
def val_parenthesis(s:str):
    b_arr=[]
    d1={']':'[','}':'{',')':'('}
    
    for char in s:
        if char in d1 and b_arr:
            if d1[char]==b_arr[-1]:
                b_arr.pop()
            else:
                return False
        else:
            b_arr.append(char)
        print(b_arr)
    return not b_arr

In [32]:
val_parenthesis(')

['[']
['[', '{']
['[', '{', '[']
['[', '{']
['[']
[]

True

In [21]:
t1=(1,2,3)

## find the smallest substring from a string with pattern

In [3]:
def find_minimum_string_length(s1:str,pattern):
    length=0
    min_length=len(s1)+1
    low=high=0
    new_s=''
    for high in range(len(s1)):
        new_s=new_s+s1[high]
        i=0
        while all(ch in new_s for ch in pattern):
            
            length=high-low+1
            min_length=min(length,min_length)
            low=low+1
            print(f"{i}_iteration: new_string :{new_s} ---->high:{high}---->low:{low}---->length :{length}----> min length :{min_length}")
            new_s=new_s[1:]
            
            i=i+1
        high=high+1
    return min_length

In [4]:
str_1='Then recursion returns to the previous stack frame,'

In [5]:
find_minimum_string_length(str_1,pattern='tor')

0_iteration: new_string :Then recursion ret ---->high:17---->low:1---->length :18----> min length :18
1_iteration: new_string :hen recursion ret ---->high:17---->low:2---->length :17----> min length :17
2_iteration: new_string :en recursion ret ---->high:17---->low:3---->length :16----> min length :16
3_iteration: new_string :n recursion ret ---->high:17---->low:4---->length :15----> min length :15
4_iteration: new_string : recursion ret ---->high:17---->low:5---->length :14----> min length :14
5_iteration: new_string :recursion ret ---->high:17---->low:6---->length :13----> min length :13
6_iteration: new_string :ecursion ret ---->high:17---->low:7---->length :12----> min length :12
7_iteration: new_string :cursion ret ---->high:17---->low:8---->length :11----> min length :11
8_iteration: new_string :ursion ret ---->high:17---->low:9---->length :10----> min length :10
9_iteration: new_string :rsion ret ---->high:17---->low:10---->length :9----> min length :9
10_iteration: new_string :sion ret ---->high:17---->low:11---->length :8----> min length :8
11_iteration: new_string :ion ret ---->high:17---->low:12---->length :7----> min length :7
12_iteration: new_string :on ret ---->high:17---->low:13---->length :6----> min length :6
0_iteration: new_string :n returns to ---->high:24---->low:14---->length :12----> min length :6
1_iteration: new_string : returns to ---->high:24---->low:15---->length :11----> min length :6
2_iteration: new_string :returns to ---->high:24---->low:16---->length :10----> min length :6
3_iteration: new_string :eturns to ---->high:24---->low:17---->length :9----> min length :6
4_iteration: new_string :turns to ---->high:24---->low:18---->length :8----> min length :6
5_iteration: new_string :urns to ---->high:24---->low:19---->length :7----> min length :6
6_iteration: new_string :rns to ---->high:24---->low:20---->length :6----> min length :6
0_iteration: new_string :ns to the pr ---->high:31---->low:21---->length :12----> min length :6
1_iteration: new_string :s to the pr ---->high:31---->low:22---->length :11----> min length :6
2_iteration: new_string : to the pr ---->high:31---->low:23---->length :10----> min length :6
3_iteration: new_string :to the pr ---->high:31---->low:24---->length :9----> min length :6
4_iteration: new_string :o the pr ---->high:31---->low:25---->length :8----> min length :6
0_iteration: new_string : the previo ---->high:35---->low:26---->length :11----> min length :6
1_iteration: new_string :the previo ---->high:35---->low:27---->length :10----> min length :6
0_iteration: new_string :he previous st ---->high:40---->low:28---->length :14----> min length :6
1_iteration: new_string :e previous st ---->high:40---->low:29---->length :13----> min length :6
2_iteration: new_string : previous st ---->high:40---->low:30---->length :12----> min length :6
3_iteration: new_string :previous st ---->high:40---->low:31---->length :11----> min length :6
4_iteration: new_string :revious st ---->high:40---->low:32---->length :10----> min length :6
0_iteration: new_string :evious stack fr ---->high:46---->low:33---->length :15----> min length :6
1_iteration: new_string :vious stack fr ---->high:46---->low:34---->length :14----> min length :6
2_iteration: new_string :ious stack fr ---->high:46---->low:35---->length :13----> min length :6
3_iteration: new_string :ous stack fr ---->high:46---->low:36---->length :12----> min length :6

6

 ## Minimum Window Substring

In [8]:
from collections import Counter

def min_window(s: str, t: str) -> str:
    if not s or not t:
        return ""
    
    t_count = Counter(t)   # frequency of required characters
    min_len = len(s) + 1
    result = ""
    
    low = high = 0
    new_s = ""
    
    while high < len(s):
        new_s += s[high]   # expand window to the right
        
        # check if current window is valid (contains all chars with counts)
        while all(new_s.count(ch) >= t_count[ch] for ch in t_count):
            length = high - low + 1
            if length < min_len:
                min_len = length
                result = new_s
            
            # shrink from the left
            new_s = new_s[1:]
            low += 1
        
        high += 1
    
    return result

In [9]:
min_window(s = "ADOBECODEBANC", t = "ABC")

'BANC'

In [12]:
min_window(s = "aa", t = "aa")

'aa'

## Group Anagrams

In [6]:
def Group_Anagrams(string_list:list)->list:
    d1={}
    for word in string_list:
        sort_word=''.join(sorted(word))
        
        if sort_word in d1:
            d1[sort_word].append(word)
        else:
            d1[sort_word] = [word]
#         d1[sort_word].append(word) # Append the word to the corresponding group in the dictionary
        print(d1)
    return list(d1.values())

In [7]:
Group_Anagrams(["eat", "tea", "tan", "ate", "nat", "bat"])

{'aet': ['eat']}
{'aet': ['eat', 'tea']}
{'aet': ['eat', 'tea'], 'ant': ['tan']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat']}
{'aet': ['eat', 'tea', 'ate'], 'ant': ['tan', 'nat'], 'abt': ['bat']}

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [5]:
df=pd.DataFrame({'name':'Abhi','age':24},index=[0])

In [6]:
df

   name  age
0  Abhi   24

In [ ]:
df.drop_duplicates()